// General configuration used in all profiles
manifest {
  description = 'Biomaterials Annotator Pipeline' 
}

// Profiles configure nextflow depending on the environment (local, integration, live, etc.)

profiles {
	standard {
		
		process {
			withName: nlp_standard_preprocessing{
				container = "javicorvi/nlp-standard-preprocessing:1.4"                        
			}
		}
		
		process {
			withName: debbie_umls_annotation{
				container = "projectdebbie/debbie_umls_annotation:release-1.0.7"
			}
		}
		
		process {
			withName: debbie_onlology_annotation{
                                container = "projectdebbie/debbie_dictionaries_annotations:release-1.0.7"
			}
		}
		
		process {
			withName: gate_to_json{
				container = "projectdebbie/gate_to_json:release-1.0.4-GS"
			}
		}
		
		
		docker {
                  enabled = true
                  runOptions= '--net=host'
		}
		
	}
}

